<div id="new-link">
  <form action='/links' method='post'>
    Title: <input type='text' name='title'>
    URL: <input type='text' name='url'>
    Tags: <input type='text' name='tags'>
    Description: <input type='text' name='description'>
    Source: <input type='text' name='source'>
    <input type='submit' value= "Add_link">
  </form>
</div>