<div id='user-links-container'>
  <ul id='user-links'> <span id='cur-link'> Current Links: </span>
    <% @links.each do |link| %>
      <%= partial :link, locals: {link: link} %>
    <% end %>
  </ul>
</div>