<head>
  <link href='/css/style.css' rel='stylesheet'>
<head>

<ul>
  <% @links.each do |link| %>
    <li><a href='<%= link.url %>'><%= link.title %></a></li>
  <% end %>
</ul>

<p> Tags so far <p>
<ul>
  <% @tags.each do |tag| %>
    <li><%= tag.text %> </li>
  <%end%>
</ul>

<div id="new-link">
  <form action='/links' method='post'>
    Title: <input type='text' name='title'>
    URL: <input type='text' name='url'>
    Tags: <input type='text' name='tags'>
    <input type='submit' value= "Add_link">
  </form>
</div>