<head>
   <link href='/css/reset.css' rel='stylesheet'>
   <link href='/css/style.css' rel='stylesheet'>
</head>

<header>
  <div id='logo'> <a href='/'>Bookmark Manager</a> </div>

  <div id='add-link'>
    <a class='button add' href='/links/new'>Add Link </a>
  </div>

  <div id='sign-up'>
    <a class='button' href='/users/new'>Sign Up </a>
  </div>

  <div id='sign-in'>
    <a class='button' href='/sessions/new'>Sign In </a>
  </div>

</header>
<body>
  <div class='wrapper'>
  <% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with the form.
    <ul id='errors'>
    <% flash[:errors].each do |error|%>
      <li> <%= error %> </li>
    <%end%>
    </ul>
  <%end%>
  <% if current_user %>
    <span id='welcome message '>
      Welcome, <%=current_user.email%>
    </span>
    <form action='/sessions' method='post'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value="Sign out">
    </form>
  <%end%>
  <% if flash[:notice] %>
      <div id='notice'>
        <%=flash[:notice] %>
      </div>
  <%end%>
  <%=yield%>
  <div class='push'></div>
  </div>

<footer>
  <div id='footer_link'>
  <a href='/' >
    Click here to get back to the home page
  </a>
  </div>

  <div id='descriptor'>
    <p> This website is built using Ruby, Sinatra, CSS, HTML and tested with Capybara and Rspec </p>
  </div>
</footer>

</body>

