<li class='link'>
  <a class='title' href='<%= link.url %>'><%= link.title %></a>
  <div class='description'>
    <p><%= link.description %> </p>
  </div>
  <span class='source'>
    <p><%= link.source %> </p>
    <a href='#'>evgeny@makersacademy.com</a>
  </span>
</li>