<li class='link'>
  <a class='title' href='<%= link.url %>'><%= link.title %></a>
  <div class='description'>
    Replace with link.description if add property
  </div>
  <span class='source'>
    Replace with link.source if add property
    <a href='#'>evgeny@makersacademy.com</a>
  </span>
</li>